.Task {
  width: 100%;
  min-height: 150px;
  background-color: white;
  display: flex;
  border-radius: 15px;
  padding: 2px;
  margin-bottom: 10px;
}
.Task p,
h3 {
  max-width: 250px;
  word-wrap: break-word;
}
.TaskRight,
.TaskLeft {
  width: 100%;
}
.TaskLeft {
  width: 190%;
}
.Task button {
  display: block; /* Make the buttons appear below each other */
}
