.DoneTask {
  padding: 20px;
  color: black;
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 0 10px;
  box-sizing: border-box;
  width: 500px;
  height: 80%;
  border-radius: 15px;
}
.DoneHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  margin-bottom: 17px;
}
.DoneTask h2 {
  color: white;
  margin-left: 5px;
}
.DoneTask h5 {
  color: red;
}
